doctype html
html(lang="ru")
  block head
    meta(charset="utf-8")
    title Huntica
    link(rel="stylesheet", href="assets/css/style.css")
  body
    #hunticaChromeExtension
      .wrapper
        block content