/* FONTS */

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-style: normal;
  src: local("Museo Sans Cyrl"),
    url("../fonts/MuseoSansCyrl300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl300.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl300.eot") format("eot");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: normal;
  src: local("Museo Sans Cyrl"),
    url("../fonts/MuseoSansCyrl500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl500.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl500.eot") format("eot");
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: normal;
  src: local("Museo Sans Cyrl"),
    url("../fonts/MuseoSansCyrl700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl700.ttf") format("ttf"),
    url("../fonts/MuseoSansCyrl700.eot") format("eot");
}

@mixin transition($t: all 500ms ease) {
  -webkit-transition: $t;
  transition: $t;
}

@mixin origin($t: 50% 50%) {
  -webkit-transform-origin: $t;
  transform-origin: $t;
}

@mixin bgcover($url) {
  background: url($url) no-repeat center;
  background-size: cover;
}

@mixin bgcontain($url) {
  background: url($url) no-repeat center;
  background-size: contain;
}

@mixin flex($direction: column, $jc: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $jc;
  flex-wrap: $wrap;
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b + $units;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin fontsize($min, $max) {
  font-size: calcFluidFontSize($min, $max, 1024, 1920, px);
}
@mixin fontsizem($min, $max) {
  font-size: calcFluidFontSize($min, $max, 320, 1023, px);
}

$font: "MuseoSansCyrl", sans-serif;

#hunticaChromeExtension,
#hunticaBlackList {

  * {
    box-sizing: border-box;
  }

  button,
  input,
  textarea,
  select {
    font-family: $font;
    font-size: 16px;
    line-height: 1.25em;
    outline: none !important;
  }

  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .text-left {
    text-align: left !important;
  }

  .m-align-center {
    margin-left: auto;
    margin-right: auto;
  }
  .to-right {
    margin-left: auto;
  }
  .to-left {
    margin-right: auto;
  }

  .link {
    color: #0a82d9;
    text-decoration: underline;
    font-size: 14px;
    line-height: 14px;
    @include flex();
    height: 38px;
    padding: 0 30px;
  }

  .btn {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    @include flex();
    height: 38px;
    padding: 0 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 4px;
    background: #0a82d9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    @include transition;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      background-color: #C0C0C0;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .itIsLink {
    $color: #609FCF;
    color: $color;
    cursor: pointer;

    &.dashed,
    .dashed {
      background-image: linear-gradient(to right, $color, $color 60%, transparent 60%, transparent 100%);
      background-position: 0 bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }

    &:hover {
      $color: #c00;
      color: $color;

      &.dashed,
      .dashed {
        background-image: linear-gradient(to right, $color, $color 60%, transparent 60%, transparent 100%);
        background-position: 0 bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
      }
    }
  }

  .bloko-button {
    background: #F9F9F9;
    border: 1px solid #CBD1D4;
    @include flex(row);
    height: 28px;
    padding: 0 15px;
  }

  .d-flex {
    display: flex;
  }
  .d-block {
    display: block;
  }
  .d-inline-block {
    display: inline-block;
  }
  .d-inline {
    display: inline;
  }

  .flex-row { flex-direction: row; }
  .flex-column { flex-direction: column; }
  .flex-row-reverse { flex-direction: row-reverse; }
  .flex-column-reverse { flex-direction: column-reverse; }

  .justify-start {
    justify-content: flex-start;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }

  .align-start {
    align-items: flex-start;
  }
  .align-end {
    align-items: flex-end;
  }
  .align-center {
    align-items: center;
  }
  .align-baseline {
    align-items: baseline;
  }
  .align-stretch {
    align-items: stretch;
  }

  @for $w from 0 to 11 {
    $width: $w*10%;
    $wc: $w*10;

    .w-#{$wc} {
      width: $width;
    }
  }

  @for $i from 0 to 21 {
    .mt-#{$i} {
      margin-top: #{$i * 2}px !important;
    }
    .mr-#{$i} {
      margin-right: #{$i * 2}px !important;
    }
    .mb-#{$i} {
      margin-bottom: #{$i * 2}px !important;
    }
    .ml-#{$i} {
      margin-left: #{$i * 2}px !important;
    }
    .mx-#{$i} {
      margin-left: #{$i * 2}px !important;
      margin-right: #{$i * 2}px !important;
    }
    .my-#{$i} {
      margin-top: #{$i * 2}px !important;
      margin-bottom: #{$i * 2}px !important;
    }

    .pt-#{$i} {
      padding-top: #{$i * 2}px !important;
    }
    .pr-#{$i} {
      padding-right: #{$i * 2}px !important;
    }
    .pb-#{$i} {
      padding-bottom: #{$i * 2}px !important;
    }
    .pl-#{$i} {
      padding-left: #{$i * 2}px !important;
    }
    .px-#{$i} {
      padding-left: #{$i * 2}px !important;
      padding-right: #{$i * 2}px !important;
    }
    .py-#{$i} {
      padding-top: #{$i * 2}px !important;
      padding-bottom: #{$i * 2}px !important;
    }
  }

  label,
  .label {
    font-size: 14px;
    line-height: 1.43em;
    color: #757575;

    i {
      color: #d6001c;
      font-style: normal;
    }
  }

  input[type="checkbox"] {
    margin: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #757575;
    border-radius: 3px;
  }

  input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
  }

  select {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;

    &:disabled {
      background: #e9e9e9;
      border: none;
    }
  }

  b {
    font-weight: 600;
  }

  .lighttext {
    font-size: 14px;
    line-height: 1.43em;
    color: #757575;

    &.small {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .rate {
    position: relative;
    top: -2px;
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background: #212121;
    opacity: 0.1;
    margin: 5px 0 10px;
  }

  .wrapper {
    width: 400px;
    font-family: $font;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: normal;
    color: #212121;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }

  header {
    padding: 20px;
    border-bottom: 1px solid rgba(#212121, 0.1);

    .logo {
      width: 60px;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    .title {
      font-size: 14px;
      line-height: 1.43em;

      .company {
        font-size: 12px;
        line-height: 1.67em;
        color: #757575;
      }
    }

    .logout {
      width: 20px;
      height: 40px;
      background: url(../img/logout.svg) no-repeat center 3px;
      cursor: pointer;
    }
  }

  footer {
    padding: 14px 20px;
    background: #eee;
    font-size: 12px;
    line-height: 1.33em;

    .logo {
      width: 32px;
      height: 32px;
      background: url(../img/huntica-small.svg) no-repeat center;
      margin-right: 17px;
    }

    .slogan {
      opacity: 0.6;
    }
  }

  .container {
    padding: 44px 50px;

    .plus {
      width: 11px;
      height: 11px;
      position: relative;
      margin: 0 14px;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(#000, 0.4);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    .logo {
      margin-bottom: 38px;

      .i {
        width: 181px;
        height: 28px;
        background: url(../img/logo.svg) no-repeat center;
        background-size: contain;
        margin: 0 auto 11px;
      }

      div {
        font-size: 12px;
        line-height: 1.17em;
        color: #757575;
      }
    }
  }

  .container-sm {
    padding: 20px;
  }

  .fill-form {
    input[type="text"] {
      width: 264px;
    }

    .mail-icon {
      width: 18px;
      height: 18px;
      background: url(../img/mail.svg) no-repeat center;
    }

    .checkbox {
      font-size: 16px;
      line-height: 1.25em;
      color: #212121;
    }
  }

  .candidate {
    .date {
      font-size: 12px;
      line-height: 1.67em;
    }

    .status {
      font-size: 12px;
      line-height: 1.67em;
      @include flex(row, flex-start);

      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 7px;
      }

      &.green::before {
        background: #1fc57f;
      }
      &.red::before {
        background: #d6001c;
      }
    }
  }

  .quest {
    width: 16px;
    height: 17px;
    background-image: url(../img/quest.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 3px;
    position: relative;

    &.active,
    &:hover {
      background-image: url(../img/quest-active.svg);
      background-repeat: no-repeat;

      .blacklist-popover {
        opacity: 1;
        pointer-events: initial;
      }
    }

    .blacklist-popover {
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      width: 364px;
      padding: 17px;
      padding-left: 20px;
      position: absolute;
      left: 50%;
      top: 160%;
      transform: translateX(-69%);
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      @include transition;


      &::before {
        width: 14px;
        height: 14px;
        content: '';
        display: block;
        position: absolute;
        left: calc(69% - 7px);
        top: 0;
        transform: translateY(-50%) rotate(45deg);
        background: #fff;
      }

      .logo {
        width: 59px;
        height: 42px;
        background: url(../img/blacklist-logo.png) no-repeat center;
        background-size: contain;
      }

      .pop-content {
        width: 254px;
        font-size: 12px;

        p {
          line-height: 1.40em;
        }
      }
    }
  }

  .hunticaBar {
    width: 100%;
    min-height: 40px;
    background: #EEEEEE;

    .logo {
      width: 20px;
      height: 20px;
      background: url(../img/huntica-small.svg) no-repeat center;
      background-size: contain;
      margin-right: 17px;
    }

    .logo-wide {
      width: 78px;
      height: 12px;
      background: url(../img/logo-wide.svg) no-repeat center;
      background-size: contain;
      margin-right: 17px;
    }

    .arrow-down {
      width: 8px;
      height: 8px;
      background: url(../img/arrow-down.svg) no-repeat center;
      background-size: contain;
      margin: 0 3px;
      position: relative;
      top: -2px;
    }

    .arrow-right {
      width: 8px;
      height: 8px;
      background: url(../img/arrow-down.svg) no-repeat center;
      background-size: contain;
      position: relative;
      top: 3px;
      transform: rotate(-90deg);
    }

    .vacaniesListContainer {
      position: relative;

      &.active,
      &:hover {
        .vacaniesList {
          opacity: 1;
          pointer-events: initial;
        }
      }

      .vacaniesList {
        opacity: 0;
        pointer-events: none;
        z-index: 10;
        width: 355px;
        padding: 10px;
        position: absolute;
        right: -13px;
        top: 160%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        @include transition;

        &::before {
          width: 10px;
          height: 10px;
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          top: 0;
          transform: translateY(-50%) rotate(45deg);
          background: #fff;
        }

        .item {
          padding: 10px 10px 10px 5px;
          border-bottom: 1px solid #eee;

          &:nth-child(1) {
            padding-top: 5px;
          }

          &:nth-last-child(1) {
            padding-bottom: 0px;
            border-bottom: none;
          }
        }
      }

    }

    .account {
      width: 16px;
      height: 16px;
      background: url(../img/account.svg) no-repeat center;
      background-size: contain;
      margin: 0 7px;
    }

    .mail {
      width: 16px;
      height: 16px;
      background: url(../img/mail.svg) no-repeat center;
      background-size: contain;
      margin: 0 7px;
    }

    .right-side {
      &.green {
        background: #E0EDDE;
        border-radius: 4px;
        height: 36px;
        padding-left: 10px;
        padding-right: 5px;

        .bloko-button {
          height: 28px;
          line-height: 28px;
        }
      }
    }
  }

  #hunticaContent {
    .hunticaOverlay {
      position: fixed;
      z-index: 9998;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0.3;
    }

    .hunticaPopup {
      z-index: 9999;
      position: fixed;
      left: 50%;
      top: 50%;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      transform: translate(-50%, -50%);
      padding-top: 30px;
      width: 400px;
      max-height: 80vh;
      overflow-y: auto;
      font-family: $font;
      font-size: 16px;
      line-height: 1.25em;
      font-weight: normal;
      color: #212121;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;

      &.oAuth {
        width: 640px;
        padding-bottom: 30px;

        .logo {
          margin-bottom: 38px;

          .i {
            width: 181px;
            height: 28px;
            background: url(../img/logo.svg) no-repeat center;
            background-size: contain;
            margin: 0 auto 11px;
          }

          div {
            font-size: 12px;
            line-height: 1.17em;
            color: #757575;
          }
        }

        .company-logo {
          width: 60px;
          border: 1px solid rgba(#212121, 0.1);
          box-sizing: border-box;
          border-radius: 4px;
        }

        .title {
          font-size: 14px;
          line-height: 1.43em;

          .company {
            font-size: 12px;
            line-height: 1.67em;
            color: #757575;
          }
        }
      }

      .close {
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 10px;
        height: 10px;
        background: url(../img/close.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}
