mixin loginPage
  // login page
  .container
    .logo
      .i
      div.text-center Cервис видеособеседований<br />с человеческим лицом
    p.text-center Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru
    p.text-center(style="margin-bottom: 25px") Чтобы начать работу, необходимо авторизоваться.
    button.btn.m-align-center Авторизоваться

mixin loggedInPage
  // logged in page
  +header
  .container
    .d-flex.justify-center.align-center(style="margin-bottom: 44px")
      img(src="assets/img/hh.svg", alt="hh.ru")
      .plus
      img(src="assets/img/huntica.svg", alt="huntica.online")
    p.text-center Расширение Huntica позволяет приглашать кандидатов на интервью прямо из интерфейса HH.ru
    p.text-center(style="margin-bottom: 0") Перейдите на страницу кандидата и нажмите кнопку «Пригласить на видео-интервью».
  +footer