mixin header
  header.d-flex.justify-start.align-center
    .logo
      img(src="assets/img/toyota.png", alt="ООО Toyota Motor Co., Ltd.")
    .title
      .name Александр Шереметьев-Пушкин
      .company ООО Toyota Motor Co., Ltd.
    .logout.to-right

mixin footer
  footer.d-flex.align-center
    .logo
    .slogan Cервис видеособеседований<br />с человеческим лицом

mixin blacklist
  .blacklist-popover
    .d-flex
      .logo.mr-8
      .pop-content
        p.mb-7 Чёрный список — сервис, где работодатели могут оставлять положительные и отрицательные отзывы о своих сотрудниках.
        a.itIsLink(href="https://blacked.works", target="_blank") https://blacked.works

mixin star
  svg(width="16", height="15", viewBox="0 0 16 15", fill="none", xmlns="http://www.w3.org/2000/svg").
    <path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#FE8630" />

mixin starDepressed
  svg(width="16", height="15", viewBox="0 0 16 15", fill="none", xmlns="http://www.w3.org/2000/svg").
    <path d="M7.78125 0.71875L9.52825 6.09546L15.1817 6.09546L10.608 9.41845L12.355 14.7952L7.78125 11.4722L3.20755 14.7952L4.95455 9.41845L0.380841 6.09546L6.03425 6.09546L7.78125 0.71875Z" fill="#C4C4C4" />

// bar
#hunticaBar
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат приглашен в Huntica на
              span.vacaniesListContainer
                span.itIsLink.dashed 2 вакансии
                .arrow-down.d-inline-block
                .vacaniesList
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Консультант по банковским продуктам
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Менеджер по работе с бизнес-клиентами
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
            .right-side.d-flex.justify-end.align-center
              .text Черный список
              .quest
                +blacklist
              .text.mr-5 : 2 отзыва
              span.itIsLink.dashed Получить на почту
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат приглашен в Huntica на
              span.vacaniesListContainer
                span.itIsLink.dashed 2 вакансии
                .arrow-down.d-inline-block
                .vacaniesList
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Консультант по банковским продуктам
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
                  .item
                    .d-flex.justify-between.mb-5
                      a.itIsLink(href="#") Менеджер по работе с бизнес-клиентами
                      .arrow-right
                    .company.lighttext.small ООО Toyota Motor Co., Ltd.
            .right-side.d-flex.justify-end.align-center.green
              .mail
              .text Отзывы отправлены на
                span.itIsLink  ivan.davydov@googlemail.com
              .bloko-button.ml-10 Спасибо
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo.mr-5
              span.text.mr-5
                | Кандидат не был приглашен ни на одну вакансию
              span.itIsLink
                span.dashed Пригласить?
            .right-side.d-flex.justify-end.align-center
              .text Черный список
              .quest
                +blacklist
              .text : Нет отзывов
  .hunticaBar
    .bloko-columns-wrapper
      .bloko-column.bloko-column_xs-0.bloko-column_s-8.bloko-column_m-12.bloko-column_l-16
        .supernova-navi.supernova-navi_lvl-1
          .d-flex.justify-between.align-center.w-100
            .left-side.d-flex.align-center
              .logo-wide.mr-5
              span.text.mr-5
                | — сервис видеособеседований с человеческим лицом
            .right-side.d-flex.justify-end.align-center
              .account
              span.itIsLink Авторизоваться в Huntica &rarr;

// content
#hunticaContent
  .hunticaOverlay
  .hunticaPopup.oAuth.d-flex.flex-column.align-center
    .close
    .logo
      .i
      div.text-center Cервис видеособеседований<br />с человеческим лицом
    img.company-logo.mb-8(src="https://api.huntica.online/storage/companies/12/logos/72b2855c-8995-4dd8-8470-1576de28e72c.png")
    .title.d-flex.flex-column.align-center.mb-15
      .name Александр Шереметьев-Пушкин
      .company ООО Toyota Motor Co., Ltd.
    p.text-center Приложение Huntica Extension запрашивает<br />разрешение на доступ к вашему аккаунту.
    button.btn.mt-17.mb-4 Разрешить
    a.link(href="#") Отмена
  .hunticaPopup
    .close
    // candidate fill form
    .container-sm.fill-form
      .lighttext.mb-7 Заполните информацию о кандидате:
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-lastName") Фамилия:
          i *
        input#hunticaForm-lastName(type="text", placeholder="Фамилия")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-firstName") Имя:
          i *
        input#hunticaForm-firstName(type="text", placeholder="Имя")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-phone") Телефон:
          i *
        input#hunticaForm-phone(type="text", placeholder="Телефон")
      .d-flex.justify-between.align-center.mb-5
        label(for="hunticaForm-email") Эл. почта:
          i *
        input#hunticaForm-email(type="text", placeholder="Эл. почта")
      .mb-18
      label.d-block.mb-2(for="hunticaForm-vacancy") На вакансию:
      select#hunticaForm-vacancy.mb-7
        option Консультант по банксовским продуктам
      .d-flex.mb-7
        .mail-icon.mr-4
        .label Оповещение будет отправлено<br />на электронную почту кандидата.
      label.checkbox.d-flex.align-center.mb-10(for="hunticaForm-sms")
        input#hunticaForm-sms.mr-4(type="checkbox")
        span Оповестить по SMS
      button.btn Пригласить
    +footer

    // candidate assign
    .container-sm.fill-form
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      label.d-block.mb-2(for="hunticaForm-vacancy") На вакансию:
      select#hunticaForm-vacancy.mb-7
        option Консультант по банксовским продуктам
      .d-flex.mb-7
        .mail-icon.mr-4
        .label Оповещение будет отправлено<br />на электронную почту кандидата.
      label.checkbox.d-flex.align-center.mb-10(for="hunticaForm-sms")
        input#hunticaForm-sms.mr-4(type="checkbox")
        span Оповестить по SMS
      button.btn Пригласить
    +footer

    // candidate assign no vacancy
    .container-sm.fill-form
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      .lighttext.mt-10.mb-20.w-90.d-inline-block Вы не можете пригласить кандидата, так как у вашей компании нет открытых вакансий.
      button.btn.disabled Создать вакансию
    +footer

    // candidate
    .container-sm.candidate
      .lighttext.mb-2 Кандидат:
      b.d-block.mb-12 Коваленко Юлия Александровна
      .lighttext.mb-4 Приглашен на вакансии:
      hr
      .date.lighttext.mb-4 20.02.2020
      .vacancy.mb-4 Account director / New business director
      .status.green.mb-4 Приглашение отправлено
      hr
      .date.lighttext.mb-4 16.01.2020
      .vacancy.mb-4 Водитель категории B, на автомобиле компании
      .status.red.mb-4 Отказ
      hr.mb-10
      button.btn.mb-4 Пригласить на другую вакансию
    +footer

// blacklist
#hunticaBlackList
  .d-flex.align-center.my-4
    .rate.d-flex.align-center.mr-4
      +star
      +star
      +star
      +star
      +starDepressed
    .lighttext.small.mr-1 Рейтинг в Чёрном списке
    .quest
      +blacklist