extends layout/layout.pug
include mixins/popup.pug

mixin header
  header.d-flex.justify-start.align-center
    .logo
      img(src="assets/img/toyota.png", alt="ООО Toyota Motor Co., Ltd.")
    .title
      .name Александр Шереметьев-Пушкин
      .company ООО Toyota Motor Co., Ltd.
    .logout.to-right

mixin footer
  footer.d-flex.align-center
    .logo
    .slogan Cервис видеособеседований<br />с человеческим лицом

block content
  +loginPage
  +loggedInPage